
@{
    ViewBag.Title = "Index";
}

<h2>Panel administratora</h2>

<div class="col-6">
    <div class="list-group">
        <a href="/AdminManager/Activities/" class="list-group-item list-group-item-action active">Zajęcia</a>

        <a href="/AdminManager/Caterogies/" class="list-group-item list-group-item-action"> Kategorie zajęć</a>

        <a href="/AdminManager/Employees/" class="list-group-item list-group-item-action"> Pracownicy</a>


    </div>
</div>
